/*
 * Style for statico.github.com.
 *
 * Center text style is modeled after the ReadNow Instapaper client: http://mischneider.net/readnowapp/
 */
html, body {
  background: #eeeeee url(bg.png);
  color: #333333;
  font-family: "Georgia", "New Century Schoolbook", "Nimbus Roman No9 L", serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
  hyphens: auto;
  margin: 0;
  padding: 0;
  min-height: 100%;
  -webkit-perspective: 500;
  -moz-perspective: 500;
  perspective: 500; }

h1, h2, h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin-top: 0;
  line-height: 1; }

a:link, a:visited {
  color: #4f79b8;
  text-decoration: none; }
a:hover, a:active {
  color: #2e65d2;
  text-decoration: underline; }

.header, .footer, .content, .extra {
  width: 750px;
  margin: 0 auto;
  clear: both; }

.header * {
  margin: 0; }
.header a:link, .header a:visited {
  text-decoration: none;
  color: #333333; }
.header a:hover, .header a:active {
  color: #2e65d2; }
.header .inner {
  padding: 30px 40px 0; }
  .header .inner > * {
    vertical-align: bottom;
    display: inline-block;
    margin-bottom: 30px; }
.header .icon {
  width: 115px; }
  .header .icon img {
    height: 95px;
    opacity: 0.8; }
.header .title {
  width: 535px; }
  .header .title h1 {
    line-height: 1.2;
    font-size: 280%; }
  .header .title span {
    display: block; }
    .header .title span:first-child {
      font-size: 60%; }

.content {
  margin-bottom: 30px;
  line-height: 1.5;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 1px solid #dddddd;
  background: -webkit-linear-gradient(left, #f5f5f5 1%, white 4%, white 50%, white 96%, #f5f5f5 99%); }
  .content .inner {
    padding: 30px 40px; }
    .content .inner > *:last-child {
      margin-bottom: 0; }
  .content h2 {
    margin-bottom: 30px; }
  .content h3 {
    margin: 30px 0; }
  .content .meta {
    float: right;
    color: #777777;
    margin-top: 0;
    font-size: 80%;
    line-height: 1; }
  .content code, .content .highlight {
    font-family: Menlo, Monaco, monospace;
    font-size: 13px; }
  .content .highlight {
    line-height: 1.4;
    margin: 0 40px; }
  .content img:first-child {
    border-radius: 2px;
    display: block;
    margin: 30px auto; }

.extra .inner {
  padding: 0 40px 30px; }

.footer {
  line-height: 1.5;
  text-align: center;
  font-size: 80%;
  margin-bottom: 30px; }

.no-margin {
  margin: 0; }

/* This trick kinda works. See http://techblog.tilllate.com/2008/07/20/ten-methods-to-obfuscate-e-mail-addresses-compared/ */
.reverse {
  unicode-bidi: bidi-override;
  direction: rtl; }

/* PYGMENTS */
.hll {
  background-color: #ffffcc; }

.c {
  color: #408080;
  font-style: italic; }

.err {
  border: 1px solid red; }

.k {
  color: green;
  font-weight: bold; }

.o {
  color: #666666; }

.cm {
  color: #408080;
  font-style: italic; }

.cp {
  color: #bc7a00; }

.c1, .cs {
  color: #408080;
  font-style: italic; }

.gd {
  color: #a00000; }

.ge {
  font-style: italic; }

.gr {
  color: red; }

.gh {
  color: navy;
  font-weight: bold; }

.gi {
  color: #00a000; }

.go {
  color: gray; }

.gp {
  color: navy;
  font-weight: bold; }

.gs {
  font-weight: bold; }

.gu {
  color: purple;
  font-weight: bold; }

.gt {
  color: #0040d0; }

.kc, .kd, .kn {
  color: green;
  font-weight: bold; }

.kp {
  color: green; }

.kr {
  color: green;
  font-weight: bold; }

.kt {
  color: #b00040; }

.m {
  color: #666666; }

.s {
  color: #ba2121; }

.na {
  color: #7d9029; }

.nb {
  color: green; }

.nc {
  color: blue;
  font-weight: bold; }

.no {
  color: #880000; }

.nd {
  color: #aa22ff; }

.ni {
  color: #999999;
  font-weight: bold; }

.ne {
  color: #d2413a;
  font-weight: bold; }

.nf {
  color: blue; }

.nl {
  color: #a0a000; }

.nn {
  color: blue;
  font-weight: bold; }

.nt {
  color: green;
  font-weight: bold; }

.nv {
  color: #19177c; }

.ow {
  color: #aa22ff;
  font-weight: bold; }

.w {
  color: #bbbbbb; }

.mf, .mh, .mi, .mo {
  color: #666666; }

.sb, .sc {
  color: #ba2121; }

.sd {
  color: #ba2121;
  font-style: italic; }

.s2 {
  color: #ba2121; }

.se {
  color: #bb6622;
  font-weight: bold; }

.sh {
  color: #ba2121; }

.si {
  color: #bb6688;
  font-weight: bold; }

.sx {
  color: green; }

.sr {
  color: #bb6688; }

.s1 {
  color: #ba2121; }

.ss {
  color: #19177c; }

.bp {
  color: green; }

.vc, .vg, .vi {
  color: #19177c; }

.il {
  color: #666666; }
