/* Style for statico.github.com.
 *
 * Center text style is modeled after the ReadNow Instapaper client: http://mischneider.net/readnowapp/
 */
body {
  background: #eeeeee;
  color: #333333;
  font-family: "Georgia", "New Century Schoolbook", "Nimbus Roman No9 L", serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
  hyphens: auto; }

a:link, a:visited {
  color: #4f79b8;
  text-decoration: none; }
a:hover, a:active {
  color: #2e65d2;
  text-decoration: underline; }

h1 a:link, h1 a:visited, h2 a:link, h2 a:visited {
  text-decoration: none;
  color: #333333; }
h1 a:hover, h1 a:active, h2 a:hover, h2 a:active {
  color: #2e65d2; }

header, article, section, footer {
  padding: 30px 40px; }

.navbar {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

header h1, .navbar h1 {
  line-height: 1.2;
  font-size: 280%; }
header span, .navbar span {
  display: block; }
  header span:first-child, .navbar span:first-child {
    font-size: 60%; }

h1, h2, h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300; }

article {
  margin-bottom: 30px;
  line-height: 1.5;
  border: 1px solid #dddddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background: white;
  background: -moz-linear-gradient(left, whitesmoke 1%, white 4%, white 50%, white 96%, whitesmoke 100%);
  background: -webkit-linear-gradient(left, whitesmoke 1%, white 4%, white 50%, white 96%, whitesmoke 100%);
  background: -o-linear-gradient(left, whitesmoke 1%, white 4%, white 50%, white 96%, whitesmoke 100%);
  background: -ms-linear-gradient(left, whitesmoke 1%, white 4%, white 50%, white 96%, whitesmoke 100%);
  background: linear-gradient(to right, whitesmoke 1%, white 4%, white 50%, white 96%, whitesmoke 100%); }
  article img:first-child {
    border-radius: 2px;
    display: block;
    margin: 30px auto; }

footer {
  line-height: 1.5;
  text-align: center;
  font-size: 80%; }

@media (max-width: 767px) {
  header, article, section, footer {
    padding: 1em; }

  article {
    background: white; } }
.meta {
  color: #777777;
  font-size: 80%; }

img.icon {
  width: 100%; }

code, .highlight {
  color: #595959; }

pre {
  background: transparent;
  padding: 0;
  border-width: 0;
  line-height: 1.4 !important; }

.highlight {
  margin: 0 40px; }

.caption {
  text-align: center;
  font-style: italic; }

.left {
  text-align: left; }

#dsq-content {
  font-size: 16px !important; }

.reverse {
  unicode-bidi: bidi-override;
  direction: rtl; }

.highlight .xml .err {
  border-width: 0; }

/* PYGMENTS {{{ 1 */
.hll {
  background-color: #ffffcc; }

.c {
  color: #408080;
  font-style: italic; }

.err {
  border: 1px solid red; }

.k {
  color: green;
  font-weight: bold; }

.o {
  color: #666666; }

.cm {
  color: #408080;
  font-style: italic; }

.cp {
  color: #bc7a00; }

.c1, .cs {
  color: #408080;
  font-style: italic; }

.gd {
  color: #a00000; }

.ge {
  font-style: italic; }

.gr {
  color: red; }

.gh {
  color: navy;
  font-weight: bold; }

.gi {
  color: #00a000; }

.go {
  color: gray; }

.gp {
  color: navy;
  font-weight: bold; }

.gs {
  font-weight: bold; }

.gu {
  color: purple;
  font-weight: bold; }

.gt {
  color: #0040d0; }

.kc, .kd, .kn {
  color: green;
  font-weight: bold; }

.kp {
  color: green; }

.kr {
  color: green;
  font-weight: bold; }

.kt {
  color: #b00040; }

.m {
  color: #666666; }

.s {
  color: #ba2121; }

.na {
  color: #7d9029; }

.nb {
  color: green; }

.nc {
  color: blue;
  font-weight: bold; }

.no {
  color: #880000; }

.nd {
  color: #aa22ff; }

.ni {
  color: #999999;
  font-weight: bold; }

.ne {
  color: #d2413a;
  font-weight: bold; }

.nf {
  color: blue; }

.nl {
  color: #a0a000; }

.nn {
  color: blue;
  font-weight: bold; }

.nt {
  color: green;
  font-weight: bold; }

.nv {
  color: #19177c; }

.ow {
  color: #aa22ff;
  font-weight: bold; }

.w {
  color: #bbbbbb; }

.mf, .mh, .mi, .mo {
  color: #666666; }

.sb, .sc {
  color: #ba2121; }

.sd {
  color: #ba2121;
  font-style: italic; }

.s2 {
  color: #ba2121; }

.se {
  color: #bb6622;
  font-weight: bold; }

.sh {
  color: #ba2121; }

.si {
  color: #bb6688;
  font-weight: bold; }

.sx {
  color: green; }

.sr {
  color: #bb6688; }

.s1 {
  color: #ba2121; }

.ss {
  color: #19177c; }

.bp {
  color: green; }

.vc, .vg, .vi {
  color: #19177c; }

.il {
  color: #666666; }
