$width: 750px
$hgap: 40px
$vgap: $hgap * .75

$fg: #333
$bg: #eee
$font-size: 16px
$link: #4f79b8
$link-hover: #2e65d2

html, body
  background: $bg url(/bg.png)
  color: $fg
  font-family: 'Georgia'
  font-size: $font-size
  text-rendering: optimizeLegibility
  font-variant-ligatures: common-ligatures
  hyphens: auto
  margin: 0
  padding: 0

h1, h2, h3
  font-family: 'Open Sans', sans-serif
  font-weight: 300
  margin-top: 0
  line-height: 1

a
  &:link, &:visited
    color: $link
    text-decoration: none
  &:hover, &:active
    color: $link-hover
    text-decoration: underline

.header, .footer, .content, .extra
  width: $width
  margin: 0 auto
  clear: both

.header
  *
    margin: 0
  a
    &:link, &:visited
      text-decoration: none
      color: $fg
    &:hover, &:active
      color: $link-hover

  $icon-width: 115px
  $title-width: $width - ($hgap * 2) - $icon-width - 20px

  .inner
    padding: $vgap $hgap 0
    & > *
      vertical-align: bottom
      display: inline-block
      margin-bottom: $vgap

  .icon
    width: $icon-width
    img
      height: 95px
      opacity: .65

  .title
    width: $title-width
    h1
      line-height: 1.2
    span
      display: block
      &:first-child
        font-size: 60%

.content
  .inner
    padding: $vgap $hgap
    & > *:last-child
      margin-bottom: 0
  margin-bottom: $vgap
  line-height: 1.5
  background: #fff
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3)
  border: 1px solid #ddd

  background: -webkit-linear-gradient(left, rgba(245, 245, 245, 1) 1%, white 4%, white 50%, white 96%, rgba(245, 245, 245, 1) 99%)

  h1, h2, h3
    margin-bottom: $vgap
  .meta
    float: right
    color: $fg + #444
    font-size: smaller
    margin-top: 0

  code
    font-family: Menlo, Monaco, monospace
  .highlight
    font-size: 13px
    line-height: 1.4
    margin: 0 40px

.extra
  .inner
    padding: 0 $hgap $vgap

.footer
  line-height: 1.5
  text-align: center
  font-size: 80%
  margin-bottom: $vgap

.no-margin
  margin: 0

/* PYGMENTS */
.hll
  background-color: #ffffcc
.c
  color: #408080
  font-style: italic
.err
  border: 1px solid #FF0000
.k
  color: #008000
  font-weight: bold
.o
  color: #666666
.cm
  color: #408080
  font-style: italic
.cp
  color: #BC7A00
.c1, .cs
  color: #408080
  font-style: italic
.gd
  color: #A00000
.ge
  font-style: italic
.gr
  color: #FF0000
.gh
  color: #000080
  font-weight: bold
.gi
  color: #00A000
.go
  color: #808080
.gp
  color: #000080
  font-weight: bold
.gs
  font-weight: bold
.gu
  color: #800080
  font-weight: bold
.gt
  color: #0040D0
.kc, .kd, .kn
  color: #008000
  font-weight: bold
.kp
  color: #008000
.kr
  color: #008000
  font-weight: bold
.kt
  color: #B00040
.m
  color: #666666
.s
  color: #BA2121
.na
  color: #7D9029
.nb
  color: #008000
.nc
  color: #0000FF
  font-weight: bold
.no
  color: #880000
.nd
  color: #AA22FF
.ni
  color: #999999
  font-weight: bold
.ne
  color: #D2413A
  font-weight: bold
.nf
  color: #0000FF
.nl
  color: #A0A000
.nn
  color: #0000FF
  font-weight: bold
.nt
  color: #008000
  font-weight: bold
.nv
  color: #19177C
.ow
  color: #AA22FF
  font-weight: bold
.w
  color: #bbbbbb
.mf, .mh, .mi, .mo
  color: #666666
.sb, .sc
  color: #BA2121
.sd
  color: #BA2121
  font-style: italic
.s2
  color: #BA2121
.se
  color: #BB6622
  font-weight: bold
.sh
  color: #BA2121
.si
  color: #BB6688
  font-weight: bold
.sx
  color: #008000
.sr
  color: #BB6688
.s1
  color: #BA2121
.ss
  color: #19177C
.bp
  color: #008000
.vc, .vg, .vi
  color: #19177C
.il
  color: #666666
