.reverse { unicode-bidi: bidi-override; direction: rtl }
header { background: #009688; color: #fff; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) }
header a, header a:hover { color: #fff }
header a:hover { text-decoration: none }
.navbar svg { fill: currentColor }
h2 a { color: #212529 }
kbd { margin-left: 0.1rem; margin-right: 0.1rem; border: 1px solid #757575; border-radius: 2px; color: #757575; background: transparent }
article img:first-child { display: block; margin: 1.5rem auto; max-width: 85% }
figure { margin: 1.5rem auto }
figure img { margin: 0 auto !important }
figcaption { margin: .5rem auto 0; text-align: center; font-style: italic }
article h2, article h3, article h4 { margin-top: 3rem }
.highlight { margin-left: 2rem; margin-right: 2rem }
