<!DOCTYPE html>
<html>
  <head lang="en-us">

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" />
    <meta name="author" content="{{ site.author.name }}" />
    <meta name="viewport" content="width=device-width" />
    <link rel="alternate" type="application/atom+xml" href="/atom.xml" />
    <link rel="canonical" href="{{ site.production_url }}" />
    <link rel="shortcut icon" href="/favicon.ico" />

    <title>
      {% if page.title %}{{ page.title }} - {% endif %}
      {{ site.title }}
    </title>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" type="text/css" />
    <link href="/style.css" rel="stylesheet" type="text/css" media="all" />

    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>
  <body>

    <header>
      <div class="inner">

        <div class="icon">
          <a href="/"><img src="/ian.svg" /></a>
        </div>

        <a href="/" class="title">
          <h1>
            <span>Ian Langworth’s</span>
            <span>Things of Variable Interest</span>
          </h1>
        </a>

      </div>
    </header>

    {{ content }}

    <footer>
      © 2012 Ian Langworth. Licensed under a <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a> license.
    </footer>

  </body>

  {% include analytics.html %}
</html>

